body {
    margin: 0;
    overflow-y: scroll;
}

.container {
    width: 90vw;
    height: 90vh;
    border: 2px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    overflow-y: scroll;
}
.right {
    
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
}
img {
    height: 80%;
    width: 80%;
}
.image , .details {
    width: 50%;
    height: 95%;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left {
    display: flex;
    flex-flow: row wrap;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    padding-top: 20px;
}
.bottom-left {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 10fr;
}
.bottom-left>h2 {
    margin-bottom: 0;
    margin-top: 0;
}
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.skil-containers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.under-bar {
    height: 5px;
    background-color: aqua;
    margin-top: 5px;
}
.over-bar {
    height: 5px;
    background-color: blue;
    
}
.one {
    width: 95%;
}
.two {
    width: 97%;
}
.three {
    width: 99%;
}
h2 {
    margin-bottom: 2px;
}
.underline {
    width: 17%;
    height: 2px;
    background-color: aqua;
}
.icons {
    display: inline;
    height: 16px;
}
.unit-skills , .unit-group-icons {
    display: flex;
    flex-direction: row;
}
.unit-skills {
    gap: 5px;
}